@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--navbar-collapsed-width: 56px;
	--navbar-expanded-width: 250px;
	--sidebar-collapsed-width: 56px;
	--sidebar-expanded-width: 250px;
	--primary-linear: linear-gradient(90deg, #5a77fe 0%, #bdb0fa 100%);
	--background-linear: linear-gradient(269deg, #1c1c1c 0%, #131313 100%);
}

hr {
	@apply border-t border-secondary;
}

html {
	background-color: #1a1a1a;
	color: #bababa;
	font-family: 'Inter', sans-serif;
}

body {
	margin: 0;
	width: 100vw;
	min-height: 100vh;
	max-height: 100vh;
	height: 100vh;
}

/* Typography */

h2 {
	@apply text-3xl font-medium text-white;
}

h3 {
	@apply text-lg font-medium text-white;
}

/* Table */

.table-color > :nth-child(even) {
	@apply bg-secondary-middark;
}
.table-color > :nth-child(odd) {
	@apply bg-secondary-dark;
}
.table-color > :not(:last-child) {
	@apply border-b border-secondary;
}

/* Button */

.blue {
	@apply flex justify-center items-center w-full max-w-xs py-3 px-6 bg-primary text-secondary-lightest gap-1 rounded-lg border border-solid border-white border-opacity-10;
}

.btn-blue {
	@apply flex justify-center items-center w-full py-3 px-6 bg-primary text-secondary-lightest gap-1 rounded-lg border border-solid border-white border-opacity-10;
}

.btn {
	@apply rounded-lg border border-solid border-white border-opacity-10 bg-secondary-light py-3 px-6 text-secondary-lightest font-medium;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type=number] {
	-moz-appearance: textfield;
}